<h1>All patrons:</h1>


<h1>Add New Patron:</h1>


<div class="form">

 <form action='/add_patron' method="post">

   <label for="name">Patron Name:</label>
   <input id="name" name="name" type="text">

   <button type="submit">Add Patron</button>
 </form>

</div>
